<footer>
    <div class="f-info">
        <div class="f-info-social">
           <a href="https://www.facebook.com/login/"><i class="fa-brands fa-facebook"></i></a>
           <a href="https://www.instagram.com/accounts/login/?hl=en"><i class="fa-brands fa-instagram"></i></a>
           <a href="https://x.com/i/flow/login?lang=en"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div>wanderLust Private Limited &copy;<div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>