<% layout("/layouts/boilerplate") %>
<div class="row mt-5">
    <div class="col-lg-4 col-sm-6 offset-lg-4 offset-sm-3">
        <form action="/user/forgetPassword" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text
                " id="username" name="username" class="form-control" required>
                <div class="invalid-feedback">Please provide your Username.</div>
                <div id="passwordHelpBlock" class="form-text">
                    Enter Username
                </div>
            </div>
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Old password</label>
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" required>
                <div class="invalid-feedback">Please provide your old Username.</div>
                <div id="passwordHelpBlock" class="form-text">
                    Enter your old password
                </div>
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New password</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                <div class="invalid-feedback">Please provide your new password</div>
                <div id="passwordHelpBlock" class="form-text">
                    Enter your New password
                </div>
            </div>
            <button class="btn btn-primary mt-3 mb-1">Submit</button>
        </form>
    </div>
</div>